<footer class="py-5">
  <div class="row">    
    <div class="col-6 col-md">
      <h5>Title 1</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">Item 1</a>
        </li>
        <li>
          <a class="text-muted" href="#">Item 2</a>
        </li>
        <li>
          <a class="text-muted" href="#">Item 3</a>
        </li>       
      </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Title 2</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Item 1</a>
          </li>
          <li>
            <a class="text-muted" href="#">Item 2</a>
          </li>
          <li>
            <a class="text-muted" href="#">Item 3</a>
          </li>       
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Title 3</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Item 1</a>
          </li>
          <li>
            <a class="text-muted" href="#">Item 2</a>
          </li>
          <li>
            <a class="text-muted" href="#">Item 3</a>
          </li>       
        </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Title 4</h5>
      <img src="holder.js/60x60" alt="..." class="rounded pr-2">
      <img src="holder.js/60x60" alt="..." class="rounded pr-2">
      <img src="holder.js/60x60" alt="..." class="rounded pr-2">
    </div>
  </div>
</footer>